@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark_Blue: hsl(249, 10%, 26%); 
    --Grayish_Blue: hsl(246, 25%, 77%);
    --font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    overflow: hidden;
    background: url(images/bg-intro-desktop.png) no-repeat center center/cover;
    background-color: var(--Red);
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.container{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
}

/* LEFT CONTAINER */

.container .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.container .left .title{
    color: white;
    font-size: 2.0rem;
    padding: 0px 42px 20px 0px;
    line-height: 1.2;
}

.container .left .desc {
    color: #ffffffd1;
}

/* RIGHT CONTAINER */


.container .right{
    padding: 20px;
}

.container .right .form-head{
    background-color: var(--Blue);
    padding: 16px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 13px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}
 
.container .right .form{
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.container .right .form-group{
    padding-bottom: 10px;
}

.container .right .form-border{
    position: relative;
}

.container .right .icon{
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-21px);
}

.container .right .input{
    width: 100%;
    color: var(--Dark_Blue);
    font-weight: bold;
    font-family: var(--font-family);
    border: 1px solid lightgray;
    padding: 16px 25px;
    border-radius: 8px;
}


.container .right .input:focus{
    border: 1px solid var(--Blue);
    outline: none;
}

.container .right .btn{
    width: 100%;
    outline-color: transparent;
    background-color: var(--Green);
    color: white;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--Green);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 5px 0px rgb(66, 189, 136);
}

.container .right .btn:hover{
    transition: all 0.4s;
    transform: scale(0.98);
    opacity: 0.8;
}

.container .right .terms{
   text-align: center;
   font-size: 10px;
   padding-top: 12px;
   color: var(--Grayish_Blue);
}

.container .right .errorMessage{
   font-size: 12px;
   text-align: right;
   color: var(--Red);
   font-style: italic;
   /* display: none; */
   visibility: hidden;
}

.input:invalid[focussed="true"] ~ .errorMessage, .input:invalid[focussed="true"] ~ .icon{
    display: block;
    visibility: visible;
}

.input:invalid[focussed="true"]{
    color: var(--Red);
    border: 1px solid var(--Red);
}


/* RESPONSIVE CSS */

@media only screen and (max-width: 700px) {
    body{
      height: auto;
      overflow: auto;
    }

    .container{
        width: 90%;
        margin: 70px auto 60px auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        display: flex;
        flex-direction: column;
    }

    .container .left .title{
        width: 70%;
        margin: 0 auto;
        font-size: 0.8rem;
        text-align: center;
        padding: 0px;
        line-height: normal;
    }

    .container .left .desc{
        text-align: center;
        font-size: 0.8rem;
        margin: 15px 0 40px 0;
        line-height: 1.5;
    }

    .container .right{
        padding: 0px;
    }

    .container .right .form-head{
        padding: 16px 60px;
    }

}
