@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --Almost_White: hsl(0, 0%, 98%);
    --Medium_Gray: hsl(0, 0%, 41%);
    --Almost_Black: hsl(0, 0%, 8%);
    --font-family: 'Epilogue', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--Almost_White);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    margin: 10px 0;
}


/* HEADER */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    z-index: 100;
}

.logo-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-links img{
    height: 30px;
}

nav{
   padding: 0 30px;
}

nav ul{
    display: flex;
}

nav ul li{
    padding: 5px 15px;
    font-size: 14px;
}

nav ul li a{
    color: var(--Medium_Gray);
}

nav ul li a:hover{
    color: var(--Almost_Black);
}

.logo-links .downarrow{
    height: 5px;
    margin-bottom: 2px;
}

.btn{
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    background: transparent;
    font-family: var(--font-family);
    cursor: pointer;
    font-size: 14px;
    color: var(--Medium_Gray);
}

.btn:hover{
    color: var(--Almost_Black);
}

.buttons #register{
    border: 1px solid var(--Medium_Gray);
    margin-left: 15px;
}

.buttons #register:hover{
    border: 1px solid var(--Almost_Black);
}

.buttons .open-icon{
  display: none;
  cursor: pointer;
}

/* SIDE BAR */
.sidebar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 60%;
    height: 100vh;
    background-color: var(--Almost_White);
    z-index: 70;
    padding-top: 100px;
    padding: 80px 20px 20px;
    transition: 1s all;
}

.sidebar.is-active{
    left: 40%;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar ul li a{ color: var(--Medium_Gray); }
.sidebar ul li a:hover{ color: var(--Almost_Black) }

.sidebar #login{ 
    display: block; 
    width: 100%;
}

.sidebar #register{ 
    display: block; 
    border: 1px solid var(--Medium_Gray);
    width: 100%;
}

.black-sheet{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 60;
    visibility: hidden;
    transition: 1s all;
}

.black-sheet.open{
    background-color: rgb(0 0 0 / 45%);
    visibility: visible;
}

/* DROPDOWN */
.navbar .dropdown{
    position: relative;
}


.navbar .dropdown a.open{
    color: var(--Almost_Black);
}

.navbar .dropdown a:hover > img{
    rotate: 180deg;
}

.navbar .dropdown a > img.open{
    rotate: 180deg;
    color: var(--Almost_Black);
}


.navbar .dropdown:hover .dropdown-content{
    display: block;
}

.navbar .dropdown-content{
    position: absolute;
    display: none;
    width: 139px;
    left: -42px;
    top: 10px;
    margin-top: 12px;
    padding: 13px 10px;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    background-color: white;
}

#second-dropdown{
    position: absolute;
    left: 11px;
    width: 110px;
}

.dropdown-content a{
    display: block;
    padding: 7px;
}

.dropdown-content a:first{
    padding-top: 0;
}

.dropdown-content .image{
    height: 13px;
    width: 20px;
    display: inline-block;
}

.dropdown-content img{
    height: 100%;
}

/* SIDEBAR - DROPDOWN */

.sidebar ul.dropdown-content{
    display: none;
    padding: 9px 23px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar .dropdown a>img.open{
    rotate: 180deg;
}

.sidebar ul.dropdown-content.open{
    visibility: visible;
    opacity: 1;
    display: block;
}

.sidebar ul a > img{
    margin: 2px 6px;
}


/* HERO SECTION */

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 39px 0;
}

.hero-text{
    padding: 96px 0px 0px 122px;
}

.hero-text h1{
    font-size: 67px;
    font-weight: 700;
    line-height: 0.98;
    padding-right: 24px;
}

.hero-text p{
    padding: 34px 70px 39px 0;
    color: var(--Medium_Gray);
    line-height: 1.4;
}

.hero-text button{
    border: 1px solid var(--Almost_Black);
    background-color: var(--Almost_Black);
    color: white;
    padding: 12px 20px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
}

#hero-button:hover{
    background-color: transparent;
    color: var(--Almost_Black);
}

.hero .hero-image{
    text-align: center;
    padding: 10px 20px;
}

.hero .hero-image img{
    width: 70%;
}

.clients{
    margin-top: 90px;
    display: flex;
}

.clients .client-img{
    width: 87px;
    display: inline-block;
    margin-right: 17px;
}

.clients .client-img img{
    width: 70px;
}

/* FOOTER */

.attribution {
    font-size: 16px;
    text-align: center;
    margin-bottom: 100px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 17px;
  }


/* MEDIA QUERIES */

@media screen and (max-width: 1000px){
    .hero .hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .hero .hero-image img{
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    nav{
       display: none;
    }

    .buttons #login, .buttons #register{
        display: none;
    }

    .buttons .open-icon{
        display: block;
    }

    .hero{
        grid-template-columns: 1fr;
        padding: 10px 0 50px;
    }

    .hero-text{
        padding: 44px 0px 0px 0px;
    width: 100vw;
    text-align: center;
    }

    .hero-text h1{
        font-size: 33px;
    }

    .hero-text p{
        padding: 16px 10px;
    line-height: 1.6;
    }

    .hero .hero-image{
        grid-row: 1;
        width: 100vw;
    padding: 0;
    }

    .hero .hero-image img{
        width: 100%;
    }

    .clients{
        margin-top: 40px;
        justify-content: space-around;
    }

    .clients .client-img{
    margin: 0;
    }
}